.highlights {
  overflow: hidden;
  color: #3B3415;
}

.highlights ul {
  list-style: none;
  padding: 0 2em;
}

.highlights li {
  padding: 0.5em 0;
  padding-left: 4em;
  position: relative;
}

.highlights li::before,
.highlights li::after {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  width: 2.5em;
  height: 2.5em;
  background: url("images/tick.svg") no-repeat;
}

.highlights li::before {
  background-size: 100%;
  background-position: top;
  opacity: 1;
}

.highlights li::after {
  background-size: 100%;
  background-position: bottom;
  opacity: 0;
}

@media screen {

  .highlights li {
    transition: opacity 0.25s linear;
  }

  .highlights li::before,
  .highlights li::after {
    transition: opacity 0.25s linear;
  }

  .highlights:hover li {
    opacity: 0.5;
  }

  .highlights li:hover::before {
    opacity: 0;
  }

  .highlights li:hover::after {
    opacity: 1;
  }

  .highlights li:hover {
    opacity: 1;
  }

}
